@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    padding: 0;
    margin: 0;
    font-size: 14px;
    background-image: url(img/background.jpg);
}

button {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}

p {
    padding: 0;
    margin: 0;
}

figure {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

h1 span {
    display: block;
}

ul,
li {
    margin: 0;
    padding: 0;
}

input[type="text"] {
    font-family: inherit;
    /* 1 */
    font-size: inherit;
    /* 1 */
    line-height: inherit;
    /* 1 */
    margin: 0;
    /* 2 */
    border: none;
}

input[type="text"]:focus {
    outline: 0;
    outline-offset: 0;
}


/* Основая разметка */

.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.search-logo-box {
    padding-top: 15%;
    max-width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    transition: transform 0.7s ease-in-out, padding 0.7s ease-in-out, margin 2s ease-in-out;
}

.search-logo-box-after {
    padding-top: 9%;
    transform: scale(0.7);
    transition: transform 0.7s ease-in-out, padding 0.7s ease-in-out, margin 2s ease-in-out;
}

.logo {
    margin: 0 auto;
    display: inline-block;
}

.logo h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 35px;
    color: #45D2A7;
    line-height: 61px;
    letter-spacing: 0.1em;
}

.search-box {
    display: flex;
    flex-direction: column;
}

.changedClass {
    transform: scale(0.7);
}

/* Стилизация поиска */

.text_field-input[type="text"] {
    margin: 40px auto 15px auto;
    padding: 20px 0;
    width: 700px;
    color: #B2B2B2;
    background: rgba( 0,0,0,0);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    letter-spacing: 0.11em;
    border-bottom-width: 2px;
    /* Толщина линии внизу */
    border-bottom-style: solid;
    /* Стиль линии внизу */
    border-bottom-color: #B2B2B2;
    /* Цвет линии внизу */
}

.text-field-display {
    display: flex;
}

.text-field__icon {
  position: relative;
  transition: transform 0.7s ease-in-out, padding 0.7s ease-in-out, margin 2s ease-in-out;
}

.text-field__icon::before {
  content: '';
  color: #bdbdbd;
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 45.3rem;
  top: 60%;
  transform: translateY(-50%);
}

.text-field__icon_search::before {
  width: 1.5rem;
  background-image: url("img/search.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.text-field_underline {
    color: #B2B2B2;
    font-family: 'Roboto', sans-serif;
    font-size: 9px;
    letter-spacing: 0.11em;
    margin-left: auto;
}

/* Окно цитат */

.quote-box {
    width: 800px;
    height: 350px;
    background-color: white;
    margin: 40px auto;
    border-radius: 5px;
    flex-direction: column;
    display: flex;
}

.quote-box h3 {
    display: block;
    margin: auto auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 33px;
    padding: 50px 50px;
}

.quote-box_btn {
    width: 100%;
    height: 50px;
    background-color: #00FFB1;
    align-items: flex-end;
    display: flex;
    cursor: pointer;
    align-self: flex-end;
    border-radius: 0 0 5px 5px;
    transition: 0.5s;
}

.quote-box_btn:hover {
    background-color: #01eca6;
}

.quote-box_btn h3 {
    color: black;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin: 16px auto;
    cursor: pointer;
    letter-spacing: 0.05em;
    line-height: normal;
    padding: 0;
}

.authorLine {
    margin: auto auto;
    flex: 0.1;
    margin: 25px auto 0px auto;
}

.logo {
    transition: transform 0.7s ease-in-out, padding 0.7s ease-in-out, margin 0.7s ease-in-out;
}